<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Innovation Simulator ELCA Tool</title>
        <!-- Bootstrap core CSS -->
        <link href="/new-style/css/bootstrap.min.css" rel="stylesheet">       
        <link rel="shortcut icon" href="/core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
        <style type="text/css">
            .required{
                color:red;
            }
        </style>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://www.elca.ch/themes/elca/logo_50th_anniversary.svg" alt="ELCA Logo">
                <h2>ELCA FEEDBACK</h2>
                <p class="lead">This is a tool support developer easy to simulator call ELCA feedback.</p>
            </div>
            <div class="row">
                
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">Required Infomation</h4>

                    <form class="needs-validation" novalidate action="/elca/sendElcaRequest" method="post" th:object="${elcaData}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="country">Project <span class="required">*</span></label>
                                <select class="custom-select d-block w-100" name="project" id="project" required th:field="*{project}">
                                    <option value="alpha">Alpha</option>
                                    <option value="acrevis">Acrevis</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="country">Server <span class="required">*</span></label>
                                <select class="custom-select d-block w-100" name="serverId" id="serverId" required th:field="*{server}">
                                    <option value="l">localhost</option>
                                    <option value="d">Dev</option>
                                    <option value="t">Test</option>
                                    <option value="q">Quality</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="firstName">Dossier Id <span class="required">*</span></label>
                                <input type="text" class="form-control" name="dossierId" id="dossierId" required th:field="*{dossierId}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="documentId">Document Id <span class="required">*</span></label>
                                <input type="text" class="form-control" name="documentId" id="documentId" required th:field="*{documentId}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="documentType">Document Type <span class="required">*</span></label>
                                <input type="text" class="form-control" name="documentType" id="documentType" required th:field="*{documentType}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Number of page</label>
                                <select class="custom-select d-block w-100" name="numberPage" id="numberPage" required>
                                    <option value="1">One Page</option>
                                    <option value="2">One more pages</option>
                                </select>
                            </div>
                        </div>
                        <hr class="mb-4">

                        <button class="btn btn-primary btn-lg btn-block" type="submit" name="sendElca">Send request to Axon System</button>

                    </form>
                    <br/>
                    <?= $message ?>
                </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2018 Innovation Team</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">ELCA</a></li>
                    <li class="list-inline-item"><a href="../dis/">DIS</a></li>
                </ul>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/new-style/js/bootstrap.min.js"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
            setTimeout(function () {
                hideAlertMessage();
            }, 3000);
            function hideAlertMessage() {
                $(".alert").hide();
            }
        </script>
    </body>
</html>
